# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.egg-info/
.installed.cfg
*.egg
dist/
build/

# Docker
.dockerignore
Dockerfile

# Other
.DS_Store