fastapi
uvicorn[standard]
pydantic
pydantic-settings
pandas
numpy
pyarrow
psycopg2-binary
sqlalchemy
alembic
yfinance
pandas-ta
fundamentalanalysis
python-dotenv
requests
aiohttp
python-dateutil
colorlog
tqdm
